.sidebar_panel.left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 255px;
}

.sidebar_panel.right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 270px;
  background: #313131;
}

.sidebar_panel.bottom {
  left: 0;
  right: 0;
  bottom: 0;
  height: 270px;
  background: #03A9F4;
}

.sidebar_panel.top {
  left: 0;
  right: 0;
  top: 0;
  height: 270px;
  background: #03A9F4;
}

.sidebar_panel {
  position: fixed;
  background-color: #3D3D3D;
  z-index: 12;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 41px 0px 50px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.sidebar_panel .sidebar_panel_wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.sidebar_panel .sidebar_panel_wrap .sidebar_panel_inner {
  width: 100%;
  height: 100%;
  overflow-y: visible;
  overflow-x: hidden;
}
.sidebar_panel .sidebar_nav_icon_close {
  display: block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.nav_icon {
  width: 40px;
  height: 40px;
  line-height: 43px;
  color: #fff;
  display: none;
  text-align: center;
  cursor: pointer;
  float: right;
  margin-top: 18px;
}
.nav_icon i {
  font-size: 22px;
}

.sidebar_panel ul#sidebar-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: solid 1px #4A4949;
}
.sidebar_panel ul#sidebar-menu li a {
  border-bottom: solid 1px #4A4949;
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 15px;
}
.sidebar_panel ul#sidebar-menu li .grower {
  width: 25px;
  height: 100%;
  float: right;
  display: block;
  cursor: pointer;
  padding-top: 12px;
  line-height: 25px;
}
.sidebar_panel ul#sidebar-menu li .grower:after {
  content: "+";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
.sidebar_panel ul#sidebar-menu li .grower.OPEN:after {
  content: "\2013";
}
.sidebar_panel ul#sidebar-menu li > .sub-menu {
  margin: 0;
  list-style: none;
  padding: 0;
}
.sidebar_panel ul#sidebar-menu li > .sub-menu > li a {
  padding-left: 30px;
}